.logo {
    text-align: center;
    position:absolute;
    bottom:0px;
}

.wrapper {
    text-align: center;
}

.message-list {
	padding: 0px 35px;
	border-style: solid;
	border-width: 1px;
	border-color: #eeeeee;
}

.monospaced {
	font-family: Courier New;
}

.greyborder {
	border-style: solid; 
	border-width: 1px; 
	border-color: #eeeeee;
}

.xxlarge {
    font-size: 24px;
    height: auto;
}

#footer {
    border-radius:5px;
    text-align: center; 
    clear: both; 
    position: relative; 
}

.year {
    border-radius:5px;
    height: 30px;
    background: #F3F3F4;
}

#menu {
    height: 30px;
    background: #eeeeee;
    text-align: center; 
    clear: both; 
    position: relative; 
}

.content-wrap {
  padding: 0px 0px 180px 20px;
}

#footer .credit {
  color: #BFBFBF;
  font-style:italic;
}

#postheader .ui.two.column.stackable.grid {
  margin-bottom: 0px;
}


#postheader .time.wide.column span {
    float: right;
}



@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
  }

  .ui.grid.container {
    width: auto !important;
  }

  .ui.relaxed.grid.container {
    width: auto !important;
  }

  .ui.very.relaxed.grid.container {
    width: auto !important;
  }

  #header, #footer {
    width: auto !important;
    margin-left: 0em !important;
    margin-right: 0em !important;
  }

  #footer .credit {
    font-size: 12px;
  }

  .ui.list {
    font-size: 12px;
  }

  .ui.button {
    font-size: 12px;
  }

  #subheader {
    font-size: 12px;
  }

  #postheader .title.wide.column {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #postheader .time.wide.column {
    padding: 0px 0px;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  
  #postheader .ui.two.column.stackable.grid .wide.column {
    padding-bottom: .5rem!important;
  }
  #postheader .ui.two.column.stackable.grid .title.wide.column {
    padding-bottom: 0rem!important;
  }

  #postheader .time.wide.column span {
    float: none;
    font-style:italic;
  }

  #postheader .time.wide.column span::before {
    content: "-- ";
    color: #5BBD72;
  }

  #postheader .time.wide.column span::after {
    content: " --";
    color: #5BBD72;
  }
}




.tagname:hover {
  color: #5BBD72;
}

.tagname::before {
  content: "#";
  color: #5BBD72;
}

.tagname:hover::before {
  color: #00B5AD;
}

.ui.archive.selection.list .title {
  color: #566573;
  line-height: 140%;
}


.ui.archive.selection.list .title:hover {
  color: #5BBD72;
  border-bottom: 3px solid #5BBD72;
}


#posts .title {
  color: #566573;
  line-height: 140%;
}

#posts .title:hover {
  color: #5BBD72;
  border-bottom: 3px solid #5BBD72;
}






