.logo {
    text-align: center;
    position:absolute;
    bottom:0px;
}

html, body, #container { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

body > #container { 
    height: auto; 
    min-height: 100%; 
}

.wrapper {
    text-align: center;
}

.message-list {
	padding: 0px 35px;
	border-style: solid;
	border-width: 1px;
	border-color: #eeeeee;
}

.monospaced {
	font-family: Courier New;
}

.greyborder {
	border-style: solid; 
	border-width: 1px; 
	border-color: #eeeeee;
}

.xxlarge {
    font-size: 24px;
    height: auto;
}

#footer {
    border-radius:5px;
    text-align: center; 
    clear: both; 
    position: relative; 
}

.year {
    border-radius:5px;
    height: 30px;
    background: #F3F3F4;
}

#menu {
    height: 30px;
    background: #eeeeee;
    text-align: center; 
    clear: both; 
    position: relative; 
}

.content-wrap {
  padding: 0px 0px 180px 20px;
}


.markdown a{ color: #0645ad; text-decoration:none;}
.markdown a:visited{ color: #0b0080; }
.markdown a:hover{ color: #06e; }
.markdown a:active{ color:#faa700; }
.markdown a:focus{ outline: thin dotted; }
.markdown a:hover, a:active{ outline: 0; }

::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
::selection{background:rgba(255,255,0,0.3);color:#000}

.markdown a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
.markdown a::selection{background:rgba(255,255,0,0.3);color:#0645ad}

.markdown img { max-width:100%; }


.markdown hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }

.markdown b, strong { font-weight: bold; }

.markdown dfn { font-style: italic; }

.markdown ins { background: #ff9; color: #000; text-decoration: none; }

.markdown mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

.markdown sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
.markdown sup { top: -0.5em; }
.markdown sub { bottom: -0.25em; }

.markdown ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
.markdown li p:last-child { margin:0 }
.markdown dd { margin: 0 0 0 2em; }

.markdown img { border: 1px solid #eeeeee; border-radius: 5px;  }

.markdown table { border-collapse: collapse; border-spacing: 0; color: #767676;  }
.markdown table {display: block;width: 100%;overflow: auto;word-break: normal;word-break: keep-all; margin-bottom: 10px;}
.markdown table th {font-weight: bold;}
.markdown table th,
.markdown table td {padding: 6px 13px;border: 1px solid #ddd;}
.markdown table tr {background-color: #fff;border-top: 1px solid #ccc;}
.markdown table tr:nth-child(2n) {background-color: #f8f8f8;}


.markdown pre { background-color:#2C3E50  ; padding: 14px; border-radius: 5px; color: #FEF9E7; }
.markdown pre { font-family: monospace,Menlo,Monaco,"Courier New",; font-size: 12px; }
.markdown code { background-color:#E9F7EF; padding: 1px 5px; border-radius: 5px; }
.markdown p { color: #767676; }
.markdown h1 { font-size: 1.2rem; }
.markdown h2 { font-size: 1.1rem; }
.markdown h3 { font-size: 1.1rem; }
.markdown h4 { font-size: 1rem; }
.markdown h5 { font-size: 0.9rem;}
.markdown h1,h2,h3,h4,h5 { color: #767676; margin: 0px; }
.markdown li { color: #00B5AD; }
.markdown .blockquote-normal  { 
    background-color: #FEF9E7; 
    color:#767676; 
    margin:0; 
    border-left: 0.5em #5BBD72 solid; 
    padding: 5px 14px; 
}
.markdown .blockquote-center  { 
  position: relative;
  margin: 40px 0;
  padding: 0;
  border-left: none;
  text-align: center; 
}

.markdown .blockquote-center::before,
.markdown .blockquote-center::after {
  position: absolute;
  content: ' ';
  display: block;
  width: 100%;
  height: 25px;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: 0 -6px;
  background-size: 22px 22px;
}

.markdown .blockquote-center::before {
  top: -20px;
  background-image: url("/static/quote-l.svg");
  border-top: 1px solid #ccc;
}

.markdown .blockquote-center::after {
  bottom: -20px;
  background-image: url("/static/quote-r.svg");
  border-bottom: 1px solid #ccc;
  background-position: 100% 8px;
}

.markdown .blockquote-center p {
  margin-bottom: 30px;
  text-align: center;
}

.markdown blockquote ul { padding: 0px 20px; }


