{% extends "base.html" %}
{% block title %}Archive{% endblock %}
{% block head %}{% endblock %}

{% block content %}
{% for year, posts in data.items() %}
  <div style="height: 28px">
    <h3 class="ui right floated green header" style="margin-bottom: 0px;">
      {{ posts|length }}
    </h3>
    <h3 class="ui left floated grey header">
      {{ year }}年
    </h3>
  </div>
   <div class="ui selection list" style="margin-top: 0px;">
    {% for post in posts|sort(attribute='time', reverse=True) %}
    <div class="item">
      <div class="right floated content">
        <span class="grey text">{{ post.time.strftime('%Y-%m-%d') }}</span>
      </div>
      <div class="content">
        <div class="header"><a href="#"><span class="blue text">{{ post.title }}</span></a></div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}
{% block footer %}
<script>

</script>
{% endblock %}
