<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Python程序员, JackeyGao, 工作地点上海">
    <meta property="qc:admins" content="26552771055655" />
    {% include 'favicon.html' %}
    <link rel="stylesheet" type="text/css" href="/static/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/jquery.js"></script>
    <script src="/static/semantic.min.js"></script>
    {% block head %}
    {% endblock %}
    <title>{% block title %}{% endblock %} - JackeyGao</title>
  </head>
  <body>
    <div id="header" class="ui container">
      <a>
      <h1 class="ui blue centered monospaced header" style="font-size: 3em;"><span  class="text monospaced grey">JackeyGao</span></h1>
      </a>
      <div style="text-align: center;">
      <div class="ui horizontal bulleted link list">
      <a class="item" href="/">
        <span class="blue text">首页</span>
      </a>
      <a class="item" href="/tags/">
        <span class="blue text">标签</span>
      </a>
      <a class="item" href="/archives/">
        <span class="blue text">归档</span>
      </a>
      </div>
      </div>
      <div class="ui horizontal divider" style="margin: 0px;">
        <a href="https://omem.me/"><i class="home icon"></i></a>
      </div>
    </div>
    <!-- content start -->
    <div class="ui text container" style="{% block contentstyle %}max-width: 650px!important;{% endblock %}" style="margin-bottom: 3em;">
      <div id="subheader" style="height: 14px;">{% block subheader %}{% endblock %}</div>
      {% block content %}
      {% endblock %}
      {% block extra %}
      {% endblock %}
    </div>
    <!-- content start -->
    <!-- header end -->


    <div id="footer" class="ui text container">
      <div class="ten wide column" style="padding: 0px;">
        <div class="ui horizontal divider">
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><span class="grey text" style="font-size: 12px;"><i class="grey creative commons icon" ></i>by-nc-sa 4.0</span></a>
        </div>

        <span class="monospaced credit"><a href="https://github.com/jackeyGao/heroText"><i class="green github icon"></i></a> star on github </br>© 2016 JackeyGao. Power by <a href="https://www.conoha.jp/referral/?token=G8vOyReluNtZN0fQSSAyNzldtPOCAFhanp39bkuppaJG.w90xHc-01S"><span class="green text">Conoha</span></br></a>.Based on <a href="http://flask.pocoo.org/"><span class="green text">Flask</span></a>. </span>
      </div>
    </div>
    </div>
    {% block footer %}
    {% endblock %}
  </body> 
</html>

