{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/markdown.css">
<link rel="stylesheet" href="/static/solarized.css">
{% endblock %}

{% block contentstyle %} max-width: 700px!important;{% endblock %}

{% block content %}
<div class="ui left aligned clearing monospaced segment" style="padding: 14px;">
  <div class="header" style="height: 45px;">
    <h5 class="ui grey right floated header">{{ post.time.strftime("%B %d, %Y, %H:%M %p") }}</h5>
    <h3 class="ui green left floated header">{{ post.title }}</h3>
  </div>
  <div class="markdown codehilite">
    {{ markrender(post.content)|safe }}
  </div>
  <div class="ui divider" style="margin: 8px -14px"></div>
  <div class="ui breadcrumb">
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><i class="grey creative commons icon"></i></a>
    <div class="divider">|</div>
    <a href="/down/_posts/{{ post.filename }}"><i class="download icon"></i>markdown</a>
    <div class="divider">|</div>
    {% for tag in post.get_tags() %}
    <span class="grey text">#</span><a href="/?tag={{ tag }}"><span class="blue text">{{ tag }}</span></a>
    {% endfor %}
  </div>
  <div class="ui divider" style="margin: 8px -14px"></div>
  <div class="ds-thread" data-thread-key="{{ post.title }}" data-title="{{ post.title }}"></div>
</div>
{% endblock %}

{% block footer %}
<script>
  var duoshuoQuery = {short_name:"jackeygaoblog"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
       || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
{% endblock %}
